body {
    font: helvetica;
    color: white;
    background-color: #282b30;
    text-align: center;
}

.grid {
    display: grid;
    gap: 10px;
    justify-content: center;
}

.row {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border: 2px solid white;
}

.absent {
    background-color: grey;
}

.present {
    background-color: gold;
}

.correct {
    background-color: green;
}

#guess {
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 35px;
    color:#282b30;
    background-color: lightgray;
}

.keyboard {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 45px;
    font-size: 1.25rem;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

.topleftbutton {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.25rem;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background-color: #c44949;
    color: white;
    appearance: none;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    border: 2.5px solid white;
  }
  
.button:hover {
    background-color: #45a049;
}  

.popup {
    margin: 50px;
    visibility: hidden;
}